security {
    pki {
        replace: ca-profile ISRG_Root_X1 {
            ca-identity ISRG_Root_X1;
            revocation-check {
                disable;
            }
        }
        replace: ca-profile ISRG_Root_X2 {
            ca-identity ISRG_Root_X2;
            revocation-check {
                disable;
            }
        }
        replace: ca-profile {{ acme_ca_profile_name }} {
            ca-identity {{ acme_ca_identity }};
            enrollment {
                url "{{ acme_url }}";
            }
        }
    }
    zones {
        security-zone {{ acme_security_zone }} {
            interfaces {{ acme_security_zone_interface }} {
                host-inbound-traffic {
                    system-services {
                        http;
                    }
                }
            }
        }
    }
}
