system {
    host-name {{ vnf_instance.name }};
    root-authentication {
        encrypted-password "{{ vnf_instance.root_authentication | default(system_root_authentication) }}";
    }
    login {
{% for user in vnf_config.login_users | default(system_login_users) %}
        user {{ user.name }} {
            class {{ user.class }};
            authentication {
                {{ user.authentication_type }} "{{ user.authentication_value }}";
            }
        }
{% endfor %}
    }
    services {
        netconf {
            ssh;
            rfc-compliant;
            yang-compliant;
        }
        ssh {
            root-login deny;
        }
    }
    domain-name {{ vnf_instance.domain }};
    management-instance;
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address {{ vnf_instance.mgmt_ip }};
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        description "Management VRF";
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{ vnf_instance.mgmt_gateway }};
            }
        }
    }
}
